
body{
    font-family:'Montserrat', sans-serif;
    background: #f5f7fa;
    height: 1319px;
}
.wrapper{
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
}
.sidebar{
    background: #1e2939;
    width: 370px;
    height: 1560px;

}
.name_job_one{
   color: #1e2939;
   font-size: 40px;
   padding-top: 40px;
   padding-bottom: 70px;
   padding-left: 105px;
   padding-right: 0px;
   width: 265px;
   text-align: right;

   
}
.bacground_name{
    background-color: #ffffff;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 2px;
}

.circle {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    margin: 2px;
    background: gold;
    box-shadow: 0 -200px 100px -120px #017aeb inset;
    animation: background 6s infinite alternate;
    
  }
.circle_two {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgb(255, 255, 255);
    margin: 2px;
  }
 
  
  @keyframes background {
    50% {
      background: skyblue;
      box-shadow: 0 -200px 100px -100px yellowgreen inset;
    }
  }
.padding_img{
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
}
.foto{
    width: 350px;
    border: 8px solid #1e2939;
    
}
.name_tel_mail{
    color: white;
    width: 0 auto;
    height: 0 auto;
    margin-right: 10px;
    margin-left: 25px;
  
}
.ul_asidebar{
    margin:  0;
    padding: 0;
    width: 350px;
}
.all_content {
    padding-left: 90px;
    padding-top: 105px;
    padding-right: 90px;
    width: 1560px;
    position: relative; 
}
.div_contacts{
    color: #ffffff;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 140px;
    padding-bottom: 10px;
}
.contacts{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;

    line-height: 24px;
}
.tel_mail{
    color: #2dd1d6;
    font-family: Montserrat;
    font-size: 14px;

    line-height: 24px;
    
}
.mail_tel{
    padding-left: 8px;
}
.div_tech_skills{
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 209px;
    padding-bottom: 20px;
}
.tech_skills{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    margin-top:10px ;
    margin-bottom: 10px;
    
}
.skills_text{
    color:#a7acb2;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    width: 300px;

}
.skills{
    color: #ff6b08;
    margin-left: 20px;
    width: 330px;

}
.skills_lang{
    color: #ff6b08;
    margin-left: 20px;
    width: 250px;

}
.div_soft_skills{
    padding-top: 40x;
    padding-left: 41px;
    padding-right: 217px;
}
.soft{
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    margin-top:10px ;
    margin-bottom: 10px;

}
.name_job{
    font-size: 14px;
    
   

}
.name{
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    font-family: Montserrat;
    margin-bottom: 20px;
    margin-top: 37px;
    margin-left: 370px;
    position: absolute;
    background-color:#1e2939;
}
.text_afte_name{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #8f8f8f;
    width: 413px;
    height: 0 auto;
}
.name_projects{
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
}
.li_all_content{
    color: black;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px; 
}
.a_projects{
    color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.ol_projects{
    padding-left: 15px;
}
.work{
    width: 197px;
    height: 21px;
  
    color: #000000;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}
.first_company{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.name_work{
    color: #ff6b08;

}
.name_work_evo{
    color: #2105f5;
}
.time_of_year{
    color: #c1c1c1;
    font-size: 12px;
    font-weight: 400;
}
.slesh{
    width: 1px;
    color: #000000;
    margin-right: 5px;
    margin-left: 5px;
}
.ul_company{
    padding-left: 15px;
    width: 537px;
   
}
.li_company{
    color: #888888;
    line-height: 25px;
}
.education{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 0px;
    height: 12px;
}
.institute{
    color: #ff6b08;
    height:5px;
}
.specialty{
    font-size: 14px;
    font-weight: 700;
    height: 3px;
}
.specialty_1{
    font-size: 14px;
    font-weight: 700;
    height: 3px;
    margin-bottom: 40px;
}
.photo_QA {
    position: absolute; 
    bottom: 0;
    right: 0; 
    height: 150px; 
    padding-left: 10px; 
}


/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn1 {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn1:hover, .dropbtn1:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    position: relative;
    display: inline-block;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}